<div *ngIf="batteryLevel > 0" class="container">
  <div class="battery-tip"></div>
  <div class="indicators" (mouseenter)="handleMouseHover()" (mouseleave)="handleMouseLeave()">
    <div *ngIf="isHovered" class="indicator-percentage">{{batteryLevel}}%</div>
    <div class="indicator" level="100"></div>
    <div class="indicator" level="90"></div>
    <div class="indicator" level="80"></div>
    <div class="indicator" level="70"></div>
    <div class="indicator" level="60"></div>
    <div class="indicator" level="50"></div>
    <div class="indicator" level="40"></div>
    <div class="indicator" level="30"></div>
    <div class="indicator" level="20"></div>
    <div class="indicator" level="10"></div>
    <div class="indicator" level="0"></div>
  </div>
</div>
