.battery {
  height: 100%;
  width: 100%;
  border: solid thin #fff;
  position: relative;
  border-radius: 5px;
  padding: 0;
}

.battery:after {
  content: " ";
  top: 40%;
  right: -10px;
  height: 20%;
  width: 10px;
  position: absolute;
  background: #fff;
}

.battery-bar {
  width: 0;
  height: 200px;
  display: inline-block;
  background-color: transparent;
  border: solid thin rgba(255, 255, 255, 0.1);
  padding: 4.2%;
  margin: 0.5%;
  cursor: pointer;
  transition: background 1s;
}

.battery-bar-filled {
  background: limegreen;
}

.battery-level-text {
  opacity: 0.5;
  color: #fff;
  width: 100%;
  height: 100%;
  font-size: 60px;
  font-weight: bold;
  background-color: #0a0f47;
  position: absolute;
  z-index: 999;
  top: 0;
  text-align: center;
  padding: 0;
  transition: 1s;
  margin: 0;
  line-height: 300%;
}

@media only screen and (max-width: 1550px) {
  .battery-bar {
    padding: 4%;
  }
}

@media only screen and (max-width: 1065px) {
  .battery-bar {
    padding: 3.8%;
  }
}

@media only screen and (max-width: 860px) {
  .battery-bar {
    padding: 3.3%;
  }
}

@media only screen and (max-width: 715px) {
  .battery-bar {
    padding: 2.4%;
  }
}

@media only screen and (max-width: 715px) {
  .battery-bar {
    padding: 2.4%;
  }
}

@media only screen and (max-width: 575px) {
  .battery-bar {
    padding: 4%;
  }
}

@media only screen and (max-width: 770px) {
  .battery-level-text {
    font-size: 25px;
  }
}

@media only screen and (max-width: 575px) {
  .battery-level-text {
    font-size: 60px;
  }
}
