.indicator {
  background-color: transparent;
  margin: 3px auto;
  border: 1px solid black;
  padding: 2% 0;
  width: 95%;
  transition: background-color 1s ease;
}

.container {
  width: 75%;
}

.battery-tip {
  margin: auto;
  background: transparent;
  border: 2px solid #eee;
  width: 20%;
  padding: 2%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.indicator-percentage {
  background-color: rgba(65, 33, 196, 0.50);
  font-size: 42px;
  font-weight: bold;
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
  line-height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 5px;
  transition: 1.5s;
}

.indicator-animated-green {
  animation: animation-green 1s infinite alternate;
}

.indicator-animated-yellow {
  animation: animation-yellow 1s infinite alternate;
}

.indicator-animated-red {
  animation: animation-red 1s infinite alternate;
}

.indicators {
  position: relative;
  border: 1.5px solid grey;
  box-shadow: 0 8px 12px rgba(2, 1, 1, 0.2), 0 5px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

@keyframes animation-green {
  from {
    background-color: rgba(33, 196, 65, 0.67);
  }

  to {
    background-color: rgba(33, 196, 65, 0.40);
  }
}

@keyframes animation-yellow {
  from {
    background-color: rgba(196, 190, 33, 0.67);
  }

  to {
    background-color: rgba(196, 190, 33, 0.40);
  }
}

@keyframes animation-red {
  from {
    background-color: rgba(196, 65, 33, 0.67);
  }

  to {
    background-color: rgba(196, 65, 33, 0.40);
  }
}
