<div class="section-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="source-selector">
        <button class="btn btn-success">Read From COM</button>
        <button class="btn btn-primary">Read From Text</button>
      </div>
    </div>
  </div>
</div>

<div ngIf="fetchingData" class="loading-div">
  <h1 class="centered">LOADING CHARTS....</h1>
  <div class="loader centered" *ngIf="!chart"></div>
</div>

<div *ngIf="chartData" class="section-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="chart-header">
        <h5>SENSOR TEMPERATURE READINGS <span id="header-right-text">MAC: - MODEL:</span></h5>
      </div>
      <div class="chart-body">
        <app-line-chart [lineChartData]="chartData">
        </app-line-chart>
      </div>
    </div>
  </div>
</div>
<div *ngIf="chartData" class="section-container">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="chart-header">
        <h5>SENSOR TEMP READING DISTRIBUTION</h5>
      </div>
      <div class="chart-body">
        <app-bar-chart [barChartData]="chartData"></app-bar-chart>
      </div>
    </div>
    <div class="col-lg-3 col-sm-12">
      <div class="chart-header">
        <h5>RANGE SENSOR</h5>
      </div>
      <div class="chart-body">
        <app-pie-chart [pieChartData]="chartData"></app-pie-chart>
      </div>
    </div>
    <div class="col-lg-3 col-sm-12">
      <div class="chart-header">
        <h5>BATTERY LIFE</h5>
      </div>
      <div class="chart-body">
        <app-battery-level [batteryLevelData]="chartData"></app-battery-level>
      </div>
      <div class="chart-header">
        <h5>CHARGE RATE</h5>
      </div>
    </div>
  </div>
</div>
