<div *ngIf="lineChartData.length > 0" class="chart">
  <input type="button" class="resetZoomButton" value="RESET ZOOM" (click)="resetZoom()" *ngIf="zoomed">
  <h1 class="centered" *ngIf="!chart">LOADING CHART</h1>
  <div class="loader centered" *ngIf="!chart"></div>
  <canvas id="line-chart"></canvas>
  <img class="pausePlayButtons" *ngIf="paused" src="assets/play-rounded-button.png" (click)="handlePauseClick()">
  <img class="pausePlayButtons" *ngIf="!paused" src="assets/round-pause-button.png" (click)="handlePauseClick()">
</div>
