/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #1c2228;
  color: #f7fff7;
  height: 100%;
}

a {
  color: rgb(245, 208, 181);
}

a:hover {
  color: rgb(250, 146, 71);
}

.section-container {
  padding: 30px;
  margin-bottom: 30px;
}

.chart-body {
  background-color: #191F26;
  border: none;
  border-radius: 2px;
  box-shadow: 0 8px 12px rgba(2, 1, 1, 0.2), 0 5px 6px rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  text-align: center;
  margin: auto;
}

.chart-header {
  color: rgb(238, 238, 238);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 12px;
  box-shadow: 0 8px 12px rgba(2, 1, 1, 0.2), 0 5px 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(2, 1, 1, 0.2);
}

.resetZoomButton {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 30px;
  position: absolute;
  top: 7px;
  left: 40%;
  height: 10%;
  width: 11%;
  cursor: pointer;
}

.resetZoomButton:hover {
  background-color: #fff;
  border: 1px solid black;
  color: black;
}

.centered {
  text-align: center;
}

.pausePlayButtons {
  position: absolute;
  left: 47.5%;
  top: 47.5%;
  opacity: 0;
  transition: 1s;
  z-index: 999;
  filter: grayscale(100%);
  cursor: pointer;
}

.pausePlayButtons:hover {
  opacity: 1;
  transition: 0.35s;
}

#header-right-text {
  float: right;
}
